<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= render 'shared/rails_default' %>
    <%= render 'shared/shim' %>
  </head>

  <body>

  <%= render 'shared/header' %>
  <%= render 'shared/main' %>

  </body>
</html>
